
/* Navbar Styles */
.navbar {
    background-color: var(--light, #EDEFEE);
    padding: 7px 10%;
}

.nav-link {
    color: var(--dark, #333333);
    font-size: 16px;
    padding: 15px;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    gap: 7px;
    align-items: center;
}

.nav-link:hover {
    background-color: var(--primary1, #FBDABB);
}
.nav-title{

}
/* End Of Navbar styles */