.tasks-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  /* width: 100%; */
  transition: background-color 0.5s;
  min-height: 100vh;
   /* Adjusted to ensure content fits vertically */
}

.tasks-title {
  /* Add styles as needed */
  color: #fff;
  text-align: center;
  font-size: 22px;
}

.task-list {
  /* width: 100%; */
  max-width: 480px;
  /* margin-top: 20px; */
}

.task-card {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--dark, #495E57);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s;
  min-width: 480px;
}
.mark-done-btn{
  font-size: larger;
}
.task-card.done {
  opacity: 0.7;
}

.task-details {
  flex-grow: 1;
  /* max-width: 200px;  */
  overflow-wrap: break-word;
}

.task-title {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  /* max-width: 200px;  */
  overflow-wrap: break-word;
}

.task-title.done {
  text-decoration: line-through;
}

.task-actions {
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
   /* Adjusted for smaller screens */
}

.task-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  color: var(--dark, #495E57);
}

.task-actions button:hover {
  color: gray;
}

.add-task-btn {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.342);
  color: var(--dark,#495E57);
  padding: 0px 12px;
  box-shadow: rgba(235, 235, 235, 0.726) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  font-weight: bold;
  width: 480px;
  transition: color 0.5s ease-in-out 0s;
}
.icon-btn{
  margin: 0px 10px;
}

.add-task-btn:hover {
  /* background-color: var(--secondary2, #0b7dda); */
}

.add-task-form{
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  /* margin-top: 20px; */
  width: 100%;
  max-width: 480px;
  color: var(--dark, #495E57);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.edit-task-form {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  /* margin-top: 20px; */
  width: 100%;
  max-width: 480px;
  color: var(--dark, #495E57);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.add-task-form label,
.edit-task-form label {
  display: block;
  margin-bottom: 10px;
}

.add-task-form input,
.add-task-form textarea,
.edit-task-form input,
.edit-task-form textarea {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  background-color: white;
  color: var(--dark, #495E57);
}

.add-task-form .pomo-number,
.edit-task-form .pomo-number
{
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.add-task-form textarea,
.edit-task-form textarea {
  resize: vertical;
  height: 80px;
}

.add-task-form div,
.edit-task-form div {
  display: flex;
  align-items: center;
}

.add-task-form button,
.edit-task-form button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background-color: var(--primary1, #495E57);
  color: white;
  border-radius: 4px;
  margin-top: 10px;
}

.add-task-form .cancel-btn,
.edit-task-form .cancel-btn {
  background-color: var(--secondary1, #f44336);
}

.add-task-form .cancel-btn:hover,
.edit-task-form .cancel-btn:hover {
  background-color: var(--secondary2, #d32f2f);
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .task-list {
    max-width: 366px;
  }

  .task-card {
    min-width: 366px;
  }
  .add-task-btn {
    width: 366px;
  }
  .add-task-form{
    max-width: 366px;
  }
  .edit-task-form {
    max-width: 366px;
  }
}
